<!DOCTYPE html>
<html>
  <head>
    <title>NekoMoji</title>
    <%= csrf_meta_tags %>
      <meta name="twitter:card" content="summary_large_image" />
      <meta property="og:url" content="https://nekomoji.herokuapp.com/i" />
      <meta property="og:title" content="NekoMoji" />
      <meta property="og:description" content="セリフ付き猫画像を瞬時に生成" />
      <meta property="og:image" content="assets/images/titleblue.svg" />
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
